<!DOCTYPE html>
<html>
<head>
  <title>Splurty</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>

	<header>
		<div class="col-xs-3">
        <%= link_to root_path, class: 'logo' do %>
      <div class="circle">
        <br />
          No,
        <br />
          we aren't
        <br />
          old!
      </div>
      <% end %>
		</div>
		<div class="col-xs-4 slogan">
			But, inevitably, life happens and we move on.
		</div>
		<div class="col-xs-5 links">
			<%= link_to 'Contribute', new_quote_path %>
			<%= link_to 'About', '#' %>
		</div>
	</header>
  <hr />
	<br class="clear"/>

<h2> You know you're out of the dance scene when...</h2>

<div class="container">
  <% if flash[:error].present? %>
    <div class="col-xs-10 col-xs-offset-1 alert alert-danger">
      <%= flash[:error].html_safe %>
    </div>
  <% end %>
  <%= yield %>
</div>

<div class="footer">
  <div class="container">
    <div class="col-xs-6">
      <%= link_to "This isn't enough, I need more", root_path, class: 'next-quote' %>
    </div>
    <div class="col-xs-6 footer-blurb">
      Made with love by <a href="https://github.com/abckatxyz">Kat Maribao</a><br />
      Want to build your own? - <a href="http://thefirehoseproject.com">Learn how to code here</a>
    </div>
  </div>
</div>

</body>
</html>
